body{
  background-color:  #deeaee;
  background-repeat: no-repeat;
  color:#cccccc;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}



#header {
  background-color: #deeaee;
  background-size: cover;
  color: indianred;
  font-size: 175%;
  position: fixed;
  /*border: 10px solid gray; */
  width: 100%;
  line-height: 20px;
  z-index: 9999;
  font-family: 'Avro',serif;<link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>

}

#icon {

  position:relative;
  top: 5px;
  left: 175px;
}

#homenav {
  position: absolute;
  top: 10px;
  left: 20px;
}

#nav {
position: absolute;
right: 1180px;
top: 5px;
}

#dropdown {
  position: relative;
  left: 980px;
  display: inline-block;
  line-height: 80px;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #e0e2e4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#dropdown:hover #dropdown-content {
  display: block;
}

#nav .nav-category {
  font-size: 87%;
  color: indianred;
  line-height: 2;
  font-family: 'Rock Salt', cursive;<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
}

#nav .nav-item {
  font-size: 70%;
  line-height: 1.8;
  color: #80ced6;
  font-family: 'Permanent Marker', cursive;<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;

  transition:.5s;
}

#nav .nav-item:hover {
  color:#77a8a8;
}


li {
  list-style: none;
  float:right;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

#footer {
  margin: -300 0 0 0;
}

#nav1 li:hover{
  transform:scale(1.3);
}

#content {
  padding: 10px
}

#swimming {
position: center;

}

#introtxt {
  margin: 0px 200px 0px;
  background-color: transparent;
}



#wordtxt {
  bacground-color: pink;
  font-size: 125%;
  font-family: 'Oswald',sans-serif;<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
}

#contactinfo {

  font-family: 'Titillium Web', sans-serif;
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600' rel='stylesheet' type='text/css'>
}

#contactinfo a {
  color: green;
}

#contactinfo a:hover {
  color: magenta;
}

#fadein {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

@-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

@-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#main {
  width: 770px;
  font-size: 125%;
  position: relative;
  font-family: 'Oswald',sans-serif;<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
}


#footer {
  clear: both;
  font-size: 100%;
  position: relative;
  text-align: center;
  top:300px;
  width: 100%

}

#copyright {
  font-size: 60%;
  text-align: middle;
  position: relative;
  top: 30px;
  color: black;
}

#update {
  float:left;
  font-size: 20%;
  position: relative;
  top: 20px;
}

/*parallax effect */

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: indianred;

}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 925px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {

  font-size: 48px;
  line-height: 925px;
  font-weight: 700;
  text-align: center;
  color: indianred;




}
section.module.parallax-1 {
  background-image: url("images/swim.JPG");
  background-size: 115%;
}

section.module.parallax-2 {
  background-image: url("images/aboutme.jpg");
}
section.module.parallax-3 {
  background-image: url("images/adventure.jpg");
}

section.module.parallax-4 {
  background-image: url("images/volunteer.jpg");
}

section.module.parallax-5 {
  background-image: url("images/contact.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 40px;

  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 40px;

  }
}


#arrowspace {
  margin: 0 0 0 550;
}

.button1 {
    background-color: trasparent;
    border: 5px solid indianred;
    color: indianred;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 450 0 0 380;
    padding: 10px;
    font-weight: 700;
    float: left;
}

.button2 {
    background-color: trasparent;
    border: 5px solid indianred;
    color: indianred;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 450 0 0 325;
    padding: 10px;
    font-weight: 700;
    float: left;
}

.button3 {
    background-color: trasparent;
    border: 5px solid indianred;
    color: indianred;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 450 0 0 425;
    padding: 10px;
    font-weight: 700;
    float: left;
}

.button4 {
    background-color: trasparent; /* Green */
    border: 5px solid indianred;
    color: indianred;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 450 0 0 250;
    padding: 10px;
    font-weight: 700;
    float: left;
}

.button5 {
    background-color: trasparent; /* Green */
    border: 5px solid indianred;
    color: indianred;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: -77 250 0 550;
    padding: 10px;
    font-weight: 700;
    float: left;
}
